.movie-card{
    width: 282px;
    height: 348px;
    margin: 13px 0px;
    border: 1px solid #E1E3E6;
    border-radius: 7px;
    box-shadow: 1px 2px 8px 2px rgba(0, 0, 0, 0.1);
    position: relative;
    cursor: pointer;
}

.movie-card img{
    border-radius: 7px 7px 0 0;
   
}

.movie-card p{
    text-align: center;
}

.movie-card span{
   position: absolute;
width: 34px;
height: 34px;
left: 15px;
top: 15px;

border-radius: 50%;

background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;
text-align: center;
line-height: 30px;
}

.movie-card p{
    margin-bottom: 0;
    margin-top: 10px;

}

.button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.modal-header{
    display:flex;
    justify-content: space-between;
    
}

#modal-movie-title{
    margin-top: 0;
    margin-bottom: 20px;
}
.modal-info{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.modal-info p{
    text-align: justify;
}

.modal-body img{
    width: 266px;
height: 389px;
}

.modal-body{
    display: flex;
}
